@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.bg-custom {
  background-color: #cce5ff;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

